<?xml version="1.0"?>
<!-- URDF of Robot Simulation -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="bot_ackermann">
    <!-- Physical Description -->
    <xacro:include filename="bot_base.xacro" />
    <!-- Simulation -->
    <xacro:include filename="gz_ackermann_core.xacro" />
</robot>
